[submodule "GoogleSignIn"]
	path = GoogleSignIn
	url = https://github.com/pmanna-tse-realm/google-signin-binaries.git
[submodule "Realm"]
	path = Realm
	url = https://github.com/pmanna-tse-realm/realm-sdk-binaries.git
